{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center mt-5">
        <h1 style="font-size: 58px;">Email Efficiency Calculators</h1>
        <h3>Created for Good Directions</h3>

        <div style="height: 200px;"></div>
        <strong>Select</strong> your preferred version of the calculator!
        <div class="mt-4">
            <a href="{% url 'basic' %}" class="btn btn-primary">Basic Calculator</a>
            <a href="{% url 'intermediate' %}" class="btn btn-info">Intermediate Calculator</a>
        </div>

        <div style="text-align: center; font-size: 0.7em;">
            For methodological details, see the <a href="{% static '../../static/ed/report.pdf' %}">technical report</a>.  
        </div>
    </div>

    <div style="height: 200px;"></div>

    <figure style="text-align: center;">
        <img src="../../static/ed/CDS-Logo-Blue.png" style="width:20%">
    </figure>

    <div style="text-align: center; font-size: 0.7em;">
        Provided to Good Directions by the Queensland University of Technology (QUT) Centre for Data Science (CDS). For more information contact the CDS (i.e., the lead team). 
        <br>
        &copy; 2024 QUT CDS. This work is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </div>
    

</body>
</html>
