<!DOCTYPE html>
<html>
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Email Efficiency Calculator for Good Directions</h1>
        Select the version of the calculator!
        <div class="mt-4">
            <a href="{% url 'basic' %}" class="btn btn-primary">Basic Calculator (no uncertainty)</a>
            <a href="{% url 'intermediate' %}" class="btn btn-info">Intermediate Calculator (with uncertainty)</a>
        </div>
        <div class="mt-4">
            <a href="{% url 'gamma_dist' %}" class="btn btn-success">Explore the distribution of times</a>
        </div>
    </div>
</body>
</html>
