{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="{% static 'ed/styles.css' %}">
</head>
<body>

<h1>Email efficiency calculator</h1>

<!-- ---------------------------------------------------------------------- -->
<form method="post"> <!-- FORM -->
{% csrf_token %}

Time period (days):
<br>
<input type="number" name="PeriodSize_days" value="{{ PeriodSize_days }}">
<br>
Average time to read an email (seconds):
<br> 
<input type="number" name="Tr" value="{{ Tr }}">

<div class="container">
    
    <div class="left">
    <h2>Team 1</h2>

        Size of team: 
        <br>
        <input type="number" name="N_1" value="{{ N_1 }}">
        <br>
        Number of emails sent per person per period: 
        <br>
        <input type="number" name="Ep_1" value="{{ Ep_1 }}"> 
        <br>
	    Average number of recipients for each email: 
        <br>
        <input type="number" name="Ra_1" value="{{ Ra_1 }}">
        <br>
        Proportion of recipients who need each email: 
        <br>
        <input type="number" name="Pr_1" value="{{ Pr_1 }}" step="0.01">
    </div>

    <div class="right">
        <h2>Team 2</h2>
            Size of team: 
            <br>
            <input type="number" name="N_2" value="{{ N_2 }}">
            <br>
            Number of emails sent per person per period: 
            <br>
            <input type="number" name="Ep_2" value="{{ Ep_2 }}"> 
            <br>
            Average number of recipients for each email: 
            <br>
            <input type="number" name="Ra_2" value="{{ Ra_2 }}">
            <br>
            Proportion of recipients who need each email: 
            <br>
            <input type="number" name="Pr_2" value="{{ Pr_2 }}" step="0.01">
        </div>
    
    <div class="right" style="font-size: 26px;">

        <h3>Total time reading emails per person</h3>
        Period (mins)
        <div class="jindent">Total: {{ time_per_person }}</div>
        <div class="jindent">Non Essential: {{ time_per_person_notrelevant }}</div>
        <div>Year (hours)</div>
        <div class="jindent">Total: {{ time_per_year }}</div>
        <div class="jindent">Non Essential: {{ time_per_year_notrelevant }}</div>
        <br>
        <h3>Staff time reading emails</h3>
        Period (hours)
        <div class="jindent">Total: {{ time_staff }}</div>
        <div class="jindent">Non Essential: {{ time_staff_notrelevant }}</div>
        <br><br> 

    </div>

</div>

<button type="submit" class="submit-button">Submit</button>

</form> <!-- END FORM -->

</body>
</html>